@media (max-width: 575.98px) {
  #islam-figcaption {
    visibility: hidden; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  #islam-figcaption {
    visibility: hidden; } }
body {
  background-color: #d0c49f;
  /** #f4d49e #e8e5d4 #d0c49f #a9997d #ceb697 #c3bbad #362F24 #B2A38A */ }

/**a {
	text-decoration: none!important;
}*/
a {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important;
  color: #fff; }

a > .fab {
  color: #e8e5d4;
  font-size: 1.5em;
  text-decoration: none; }

.a_demo_one {
  background-color: #d0c49f;
  padding: 10px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: none !important;
  color: #fff;
  border: solid 1px #362f24;
  background-image: linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -o-linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -moz-linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -webkit-linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -ms-linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #988a71), color-stop(1, #a9997d));
  -webkit-box-shadow: inset 0px 1px 0px #dbcfab, 0px 1px 0px #fff;
  -moz-box-shadow: inset 0px 1px 0px #dbcfab, 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 0px #dbcfab, 0px 1px 0px #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.a_demo_one:active {
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  top: 1px;
  background-image: linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -o-linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -moz-linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -webkit-linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -ms-linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a9997d), color-stop(1, #988a71)); }

p {
  font-size: 1.1em; }

.container-fluid {
  padding: 0; }

.dropdown-menu {
  background-color: #a9997d; }

.dropdown-item {
  color: #e8e5d4;
  font-weight: bold; }

.market-icon {
  max-height: 50px; }

.navbar {
  padding: 0; }

.bg-transparent {
  border: none !important; }

.nazhifa-table table a {
  text-decoration: none;
  color: #e8e5d4; }

figcaption a {
  color: #362F24;
  text-decoration: none; }

figcaption a:hover {
  color: #a9997d;
  text-decoration: none; }

.four-o {
  margin: 10px auto;
  max-width: 600px;
  text-align: center; }

.four-o img {
  max-height: 200px; }

.table-prehist,
.table-prehist > td,
.table-prehist > th {
  background-color: #a9997d; }

.table-hover .table-prehist:hover {
  background-color: #B2A38A; }

.table-hover .table-prehist:hover > td,
.table-hover .table-prehist:hover > th {
  background-color: #B2A38A; }

.media a {
  color: #362F24 !important;
  text-decoration: none; }

.media a:hover {
  color: #a9997d !important; }

#headAccountBar {
  background-color: #362F24; }

/*#headAccounts {
}*/
#headNav {
  font-size: 1.3em !important;
  font-weight: 900; }

#Headed img {
  max-height: 200px; }

#nazhifasBlog, #nazhifasPost {
  padding-top: 40px;
  padding-bottom: 68px; }

.a_demo_four {
  background-color: #d0c49f;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 10px 20px;
  padding-right: 50px;
  background-image: linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -o-linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -moz-linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -webkit-linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -ms-linear-gradient(bottom, #a9997d 0%, #988a71 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a9997d), color-stop(1, #988a71));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 0px #d0c49f, 0px 5px 0px 0px #362f24, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #d0c49f, 0px 5px 0px 0px #362f24, 0px 10px 5px #999;
  -o-box-shadow: inset 0px 1px 0px #d0c49f, 0px 5px 0px 0px #362f24, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #d0c49f, 0px 5px 0px 0px #362f24, 0px 10px 5px #999; }

.a_demo_four:active {
  top: 3px;
  background-image: linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -o-linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -moz-linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -webkit-linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -ms-linear-gradient(bottom, #988a71 0%, #a9997d 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #988a71), color-stop(1, #a9997d));
  -webkit-box-shadow: inset 0px 1px 0px #d0c49f, 0px 2px 0px 0px #362f24, 0px 5px 3px #999;
  -moz-box-shadow: inset 0px 1px 0px #d0c49f, 0px 2px 0px 0px #362f24, 0px 5px 3px #999;
  -o-box-shadow: inset 0px 1px 0px #d0c49f, 0px 2px 0px 0px #362f24, 0px 5px 3px #999;
  box-shadow: inset 0px 1px 0px #d0c49f, 0px 2px 0px 0px #362f24, 0px 5px 3px #999; }

.a_demo_four::before {
  background-color: #897c66;
  background-image: url(/assets/images/down_arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 0px #362f24, 0px 1px 0px #dbcfab;
  -moz-box-shadow: inset 0px 1px 0px #362f24, 0px 1px 0px #dbcfab;
  -o-box-shadow: inset 0px 1px 0px #362f24, 0px 1px 0px #dbcfab;
  box-shadow: inset 0px 1px 0px #362f24, 0px 1px 0px #dbcfab; }

.a_demo_four:active::before {
  top: 50%;
  margin-top: -12px;
  -webkit-box-shadow: inset 0px 1px 0px #dbcfab, 0px 3px 0px #362f24, 0px 6px 3px #897c66;
  -moz-box-shadow: inset 0px 1px 0px #dbcfab, 0px 3px 0px #362f24, 0px 6px 3px #897c66;
  -o-box-shadow: inset 0px 1px 0px #dbcfab, 0px 3px 0px #362f24, 0px 6px 3px #897c66;
  box-shadow: inset 0px 1px 0px #dbcfab, 0px 3px 0px #362f24, 0px 6px 3px #897c66; }

#aside-content {
  margin: 0 0 20px;
  padding: 20px 10px 1px;
  background: url(/assets/images/chalk-20.png);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 5px 5px; }

#aside-content a {
  color: #362F24; }

#aside-content a:focus, #aside-content a:hover {
  color: #111; }

#aside-head #aside-head-content {
  margin: 0;
  border: 0 none;
  padding: 20px;
  width: 100%;
  background: 0 0;
  background-image: linear-gradient(-180deg, #362f24 0, rgba(39, 34, 26, 0.5) 100%);
  color: rgba(219, 207, 171, 0.7);
  outline: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px 5px 0 0;
  transition: .15s; }

.codrops-demos {
  display: block;
  line-height: 30px; }

.codrops-demos a {
  display: inline-block;
  margin: 0px 4px;
  padding: 0px 4px;
  color: #fff !important;
  line-height: 20px;
  font-style: italic;
  font-size: 14px;
  border-radius: 3px;
  background: rgba(54, 47, 36, 0.1);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.codrops-demos a:hover {
  background: rgba(54, 47, 36, 0.3);
  color: #fff !important; }

.codrops-demos a.current,
.codrops-demos a.current:hover {
  background: rgba(54, 47, 36, 0.3);
  color: #fff !important; }

/**
DON'T BOTHER, it's from legendofmana.info
#aside-head fieldset{
	margin:0;
	border:0 none;
	padding:0;
}

#aside-head label,#aside-head legend{
	display:none;
}

#aside-head input:focus{
	box-shadow:0 1px 0 rgba(255,255,255,.2),inset 0 0 2px 2px rgba(0,0,0,.25);
}

#aside-head input::-webkit-input-placeholder{
	color:#dbcfab;
	opacity:.5
}

#aside-head input:-moz-placeholder{
	color:#dbcfab;
	opacity:.5;
}

#aside-head input::-moz-placeholder{
	color:#dbcfab;
	opacity:.5;
}

#aside-head input:-ms-input-placeholder{
	color:#dbcfab;
	opacity:.5;
}
*/
